@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'PT Sans', sans-serif;
}

@layer base {
  :root {
    --background: 132 28% 95%; /* #EBF4EC */
    --foreground: 120 10% 20%;
    --card: 132 28% 100%;
    --card-foreground: 120 10% 20%;
    --popover: 132 28% 100%;
    --popover-foreground: 120 10% 20%;
    --primary: 124 19% 46%; /* #5E8C61 */
    --primary-foreground: 132 28% 95%;
    --secondary: 129 31% 85%;
    --secondary-foreground: 120 10% 20%;
    --muted: 129 31% 90%;
    --muted-foreground: 120 10% 40%;
    --accent: 129 29% 66%; /* #90C297 */
    --accent-foreground: 120 10% 15%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 130 20% 88%;
    --input: 130 20% 92%;
    --ring: 124 19% 46%;
    --chart-1: 124 19% 46%;
    --chart-2: 129 29% 66%;
    --chart-3: 130 20% 88%;
    --chart-4: 129 31% 85%;
    --chart-5: 129 31% 90%;
    --radius: 0.8rem;
  }
  .dark {
    --background: 120 10% 10%;
    --foreground: 132 28% 95%;
    --card: 120 10% 12%;
    --card-foreground: 132 28% 95%;
    --popover: 120 10% 10%;
    --popover-foreground: 132 28% 95%;
    --primary: 129 29% 66%;
    --primary-foreground: 120 10% 10%;
    --secondary: 120 10% 20%;
    --secondary-foreground: 132 28% 95%;
    --muted: 120 10% 15%;
    --muted-foreground: 132 28% 80%;
    --accent: 120 10% 25%;
    --accent-foreground: 132 28% 95%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 120 10% 20%;
    --input: 120 10% 20%;
    --ring: 129 29% 66%;
    --chart-1: 129 29% 66%;
    --chart-2: 124 19% 46%;
    --chart-3: 130 20% 88%;
    --chart-4: 129 31% 85%;
    --chart-5: 129 31% 90%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
  section {
    @apply py-12 sm:py-16 md:py-20;
  }
}
